@import "variables.scss";

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Light'), url('~@/assets/fonts/Roboto-Light.woff2') format('woff2'), url('~@/assets/fonts/Roboto-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url('~@/assets/fonts/Roboto-Regular.woff2') format('woff2'), url('~@/assets/fonts/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto Italic'), url('~@/assets/fonts/Roboto-Italic.woff2') format('woff2'), url('~@/assets/fonts/Roboto-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto Medium'), local('Roboto-Medium'), url('~@/assets/fonts/Roboto-Medium.woff2') format('woff2'), url('~@/assets/fonts/Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto Bold'), url('~@/assets/fonts/Roboto-Bold.woff2') format('woff2'), url('~@/assets/fonts/Roboto-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Condensed';
  src: local('Roboto Condensed Bold'), url('~@/assets/fonts/RobotoCondensed-Bold.woff2') format('woff2'), url('~@/assets/fonts/RobotoCondensed-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

strong, b {
  font-weight: 700;
}
small {
  font-size: 0.9em;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-special;
  line-height: 1.2em;
  margin-bottom: 0.3em;
}
p {
  margin-bottom: 0.7em;
}

html {
  font-size: 62.5%; // 1rem === 10px
}

body {
  font-family: $font-family;
  font-size: 1.6rem;
  line-height: 1.4em;
  color: $color-text;
}
@media (min-width: $screen-md) {
  body {
    font-size: 1.8rem;
  }
}

h1, .h1 {
  font-size: 2.4em;
  font-weight: 700;
}
h2, .h2 {
  font-size: 2.2em;
  margin-bottom: 0.3em;
  font-weight: 700;
}
h3, .h3 {
  font-size: 1.8em;
  font-weight: 700;
}
h4, .h4 {
  font-size: 1.4em;
  font-weight: 700;
}
h5, .h5 {
  font-size: 1.2em;
  font-weight: 700;
}
h6, .h6 {
  font-size: 1.0em;
  font-weight: 700;
}
