@import "variables.scss";

* {
  box-sizing: border-box;
}
body {
  background: $color-background;
}
img {
  display: inline-block;
  vertical-align: bottom;
}
.img-responsive {
  max-width: 100%;
  width: 100%;
  height: auto;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.source-only {
  position: absolute;
  width: 0.1rem;
  height: 0.1rem;
  padding: 0;
  margin: -0.1rem;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
a {
  color: $color-link;
  text-decoration: underline;
}
.ul {
  list-style: disc;
  margin: 0;
  padding: 0;
  margin-left: 1.3rem;
  text-align: left;
}
