.tns-nav button {
  padding: 0;
  background: transparentize(#fff, 0.5);
  width: 1rem;
  height: 1rem;
  border: none;
  margin: 0 .5rem;
  border-radius: 50%;
  cursor: pointer;
}
.tns-nav .tns-nav-active{
  background: #fff;
}
.tns-nav {
  margin-top: 1.5rem;
  text-align: center;
}
